html {
	min-height: 100vh;
	background-image: url('pordor.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

body { margin: 0; }

#frame {
	height: calc(100vh - 3vw);
	width: 98vw;
	position: relative;
	box-sizing: border-box;
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);

}

#smack {
	position: absolute;
	height: 30vh;
	width: 100%;
	top: 35vh;
	font-size: 12rem;
	font-family: monospace;
	text-align: center;
	font-weight: bold;
	color: white;
	text-shadow: .05em .05em 0 hotpink;
	letter-spacing: .1em;
	visibility: hidden;
	transform: rotate(5deg);
}

#frame.kiss #smack {
	visibility: visible;
}

#scoreboard {
	position: absolute;
	top: 2vw;
	width: 100vw;
	padding: 10vw 0;
	display: none;
	text-align: center;
	text-shadow: 1px 1px 0px black;
	color: hotpink;
	background-color: rgba(255,255,255,.7);
	box-shadow: 2px 2px 1vw 2px black;
	font-family: monospace;
	font-weight: bold;
	font-size: 3vw;
}
#scoreboard h1 { font-size: 4.4vw; }


#disclaimer {
	position: absolute;
	text-align: center;
	text-shadow: 1px 1px 0px black;
	color: hotpink;
	top: 2vw;
	background-color: rgba(255,255,255,.7);
	box-shadow: 2px 2px 1vw 2px black;
	width: 100vw;
	padding: 10vw 0;
	font-weight: bold;
	font-family: monospace;

}

#disclaimer h1 { text-transform: uppercase; font-size: 4.4vw; margin: 0;  }
#disclaimer p { font-size: 3vw; margin: 0; }

#instructions {
	display: grid;
	display: none;
	position: absolute;
	width: 100%;
	bottom: 1vw;
	grid-template-columns: 50% 50%;
}

#instructions--left {
	text-align: left;
	padding-left: 10vw;
}

#instructions--right {
	text-align: right;
	padding-right: 10vw;
}

.player {
	height: 16vw;
	width: 4vw;	
	position: absolute;
	bottom: 0;
	left: 0;
	transform-origin: bottom;
	transition: all 80ms linear;
}

.player.facingRight {
	transform: scaleX(-1);
}

.player .sprite {
	position: absolute;
	bottom: 0; left: -2.5vw;
	width: 8vw; height: 100%;
	background-image: url('fleeing.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom center;
	transform-origin: bottom;
	transition: all 50ms ease-in;
}

.player.kisser .sprite { background-image: url('chasing.png'); }

.player::before {
	display: block; content: '';
	position: absolute;
	top: -1vw; left: -4vw;
	height: 8vw; width: 12vw;
	z-index: 5;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

#blue::before { background-image: url('pierre-left.png'); }
#red::before { background-image: url('marie-left.png'); }



.player .hearts {
	animation: HEARTS 10s infinite;
}

.player.kisser .heart {
	content: "";
	position: absolute;
	background-image: url('heart.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.player.kisser .hearts .heart:nth-child(1) {
	top: -3.7vw; left: .3vw;
	width: 1.2vw; height: 1.2vw;
	animation: HEART1 1s infinite;
}

.player.kisser .hearts .heart:nth-child(2) {
	top: -3vw; left: 1.7vw;
	width: 1.6vw; height: 1.6vw;
	animation: HEART2 1s infinite;
}

.player.kisser .hearts .heart:nth-child(3) {
	top: -3.4vw; left: 3.6vw;
	width: 1vw; height: 1vw;
	animation: HEART3 1s infinite;
}

@keyframes HEARTS {
	0%   { transform: scale(1.6) translateY(0); }
	20%  { transform: scale(1.4) translateY(-1vw); }
	40%  { transform: scale(1.2) translateY(-.4vw); }
	60%  { transform: scale(1.4) translateY(-1.2vw); }
	80%  { transform: scale(1.6) translateY(-.6vw); }
	100% { transform: scale(1.4) translateY(0vw); }
}

@keyframes HEART1 {
	0%		{ transform: scale(.7) rotate(-10deg) translateX(-.4vw); }
	50%		{ transform: scale(1.2)  rotate(0deg)   translateX(-.4vw); }
	100%	{ transform: scale(.7) rotate(-10deg) translateX(-.4vw); }
}

@keyframes HEART2 {
	0%		{ transform: scale(.7) rotate(10deg) translateX(-.4vw); }
	50%		{ transform: scale(1.4) rotate(0deg) translateX(-.4vw); }
	100%	{ transform: scale(.7) rotate(10deg) translateX(-.4vw); }
}

@keyframes HEART3 {
	0%		{ transform: scale(.7) rotate(-10deg) translateX(-.4vw); }
	50%		{ transform: scale(1.3)  rotate(0deg)   translateX(-.4vw); }
	100%	{ transform: scale(.7) rotate(-10deg) translateX(-.4vw); }
}

#timer {
	display: none;
	position: absolute;
	top: 4vw; right: 4vw;
	font-family: monospace;
	font-weight: bold;
	font-size: 3vw;
}

#hitcount {
	position: absolute;
	top: 2vh; right: 2vw;
	font-family: monospace;
	font-weight: bold;
	font-size: 10vw;
	z-index: 10;
	text-shadow: .05em .05em 0 hotpink;
}